<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre seu serviço |AgroMazing</title>

    <!-- Mapa
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <!-- <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script> --> -->

    <link rel="stylesheet" href="../../Public/css/main.css">
    <link rel="stylesheet" href="../../Public/css/animation.css">
    <link rel="stylesheet" href="../../Public/css/business.css">
    <link rel="stylesheet" href="../../Public/css/sidebar.css">
    <!-- <link rel="stylesheet" href="../../Public/css/map.css"> -->
    <!-- <link rel="stylesheet" href="../../Public/css/forms.css"> -->

    <link rel="icon" href="../../Public/assets/agromazing-icon.jpeg">

</head>

<body>
    <div id="page-business">
        <aside class="animate-right sidebar">
            <img src="../../Public/assets/LOGO-SEM-NOME-2.png" alt="Logo">
            <footer>
                <button onclick="history.back()">
                    <img src="../../Public/assets/seta-fina2.svg" alt="Voltar">
                </button>
            </footer>
        </aside>
        <main class="animate-appear with-sidebar">
            <div class="business-card">
                <fieldset>
                    <legend>Escolha seu plano</legend>
                    <div class="cards">
                        <h2>Veja os planos disponiveis que mais se encaixam ao seu bolso</h2>
                        
                        <a href="../../src/views/create-service.html">
                            <h1>Starter Pack</h1>
                            <p>30 Dias grátis</p>
                        </a>
                        <a href="../../src/views/create-service.html">
                            <h1>Tri Pack</h1>
                            <p>Plano disponível por R$ 41.40</p>
                        </a>
                        <a href="../../src/views/create-service.html">
                            <h1>Sem Pack</h1>
                            <p>Plano disponível por R$ 81,00</p>
                        </a>
                        <a href="../../src/views/create-service.html">
                            <h1>Anual Pack</h1>
                            <p>Plano disponível por R$ 158,40</p>
                        </a>

                    </div>
                </fieldset>
            </div>
        </main>
        
    </div>
    <!-- <script src="../page-create-service.js"></script> -->
</body>

</html>