<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre seu serviço |AgroMazing</title>

    <!-- Mapa
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <!-- <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script> --> -->

    <link rel="stylesheet" href="../../Public/css/main.css">
    <link rel="stylesheet" href="../../Public/css/animation.css">
    <link rel="stylesheet" href="../../Public/css/login.css">
    <link rel="stylesheet" href="../../Public/css/sidebar.css">
    <!-- <link rel="stylesheet" href="../../Public/css/map.css"> -->
    <!-- <link rel="stylesheet" href="../../Public/css/forms.css"> -->

    <link rel="icon" href="../../Public/assets/agromazing-icon.jpeg">

</head>

<body>
    <div id="page-login">
        <aside class="animate-right sidebar">
            <img src="../../Public/assets/LOGO-SEM-NOME-2.png" alt="Logo">
            <footer>
                <button onclick="history.back()">
                    <img src="../../Public/assets/seta-fina2.svg" alt="Voltar">
                </button>
            </footer>
        </aside>
        <main class="animate-appear with-sidebar">
            <div class="login-card">
                <fieldset>
                    <legend>Faça seu login</legend>
                    
                        
                        <div class="input-block">
                            <label for="about">Nome ou Email</label>
                            <input id="name" name="name" type="text" required>
                        </div>
                        <div class="input-block">
                            <label for="about">Senha</label>
                            <input id="password" name="password" type="password" required>
                        </div>

                        <a href="../../src/views/user-login.html" type="button">Entrar</a>
                        
                   
                </fieldset>
            </div>
        </main>
        
    </div>
    <!-- <script src="../page-create-service.js"></script> -->
</body>

</html>