<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre seu serviço |AgroMazing</title>

    <!-- Mapa
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <!-- <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script> --> -->

    <link rel="stylesheet" href="../../Public/css/main.css">
    <link rel="stylesheet" href="../../Public/css/animation.css">
    <link rel="stylesheet" href="../../Public/css/user-login.css">
    <link rel="stylesheet" href="../../Public/css/sidebar.css">
    <!-- <link rel="stylesheet" href="../../Public/css/map.css"> -->
    <!-- <link rel="stylesheet" href="../../Public/css/forms.css"> -->

    <link rel="icon" href="../../Public/assets/agromazing-icon.jpeg">

</head>

<body>
    <div id="page-user-login">
        <aside class="animate-right sidebar">
            <img src="../../Public/assets/LOGO-SEM-NOME-2.png" alt="Logo">
            <footer>
                <button onclick="history.back()">
                    <img src="../../Public/assets/seta-fina2.svg" alt="Voltar">
                </button>
            </footer>
        </aside>
        <main class="animate-appear with-sidebar">
            <div class="login-card">
                <fieldset>
                    <legend>Seu Perfil</legend>
                    <div class="cards">
                        <h3>Seus itens listados: </h3>
                        <div class="card">
                            <div class="container">
                                <img src="../../Public/assets/jd1.jpg" alt="Trator">
                            </div>
                            <div class="details">
                                <h1>Trator John Deere 5078</h1>
                                <p>Aluga-se trator john deere modelo 5078, com um motor de 70cv, utilizado para diversas finalidades. Encontra-se em bom estado de conservação e nunca apresentou problema</p>
                                <a href="../views/service.html" type="button" >Veja seu Produto cadastrado</a> 
                            </div>
                            <h3>Mais opções em Breve!!!</h3>
                            <a href="https://linktr.ee/AgroMazing">Fique por dentro das novidades, e nos acompanhe em nossas redes Sociais :D</a>
                        </div>
                    </div>
                    <!-- <div class="blog-post">
                        <div class="blog-post-img">
                            <img src="../../Public/assets/jd1.jpg" alt="Seu trator">
                        </div>
                        <div class="blog-post-info">
                            <h1 class="blog-post-title">Trator John Deere 5078</h1>
                            <P class="blog-post-text">Aluga-se trator john deere modelo 5078, com um motor de 70cv, utilizado para diversas finalidades. Encontra-se em bom estado de conservação e nunca apresentou problema</P>
                            <a href="../views/service.html" class="blog-post-a" >Veja seu Produto cadastrado</a> -->
                        </div>
                    </div>  
                </fieldset>
            </div>
        </main>
        
    </div>
    <!-- <script src="../page-create-service.js"></script> -->
</body>

</html>